<div class="tab-content">
	<div id="flow-layout" class="tab-pane {{ block_layout_active }}">
    	<h4>Server Uptime Monitor</h4>
		<div class="entity-container">
            
			{% for server in servers_b_offline %}
			<div class="offline">
				<div class="entity {{ server.class_warning }}" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
                    
                    <div class="progress progress-danger active">
                      <div class="bar" style="width:100%">
                        ~{{ alert_type_offline }}~
                      </div>
                    </div>
                    <div class="progress progress-danger active">
                      <div class="bar" style="width:100%">
                        ~{{ alert_type_offline }}~
                      </div>
                    </div>
					<table>
                    	<tr>
                        	<td align="left">{{ label_cpu_usage }}: 0.00</td>
                            <td align="right">{{ alert_type_offline }}</td>
                        </tr>
                    </table>
				</div>
			</div>
			{% endfor %}
			{% for server in servers_b_online %}
			<div class="online">
				<div class="entity" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
					{% if server.bad_connection %}
                        <div class="progress">
                          <div class="bar" style="background:#ccc; width:100%">
                            No Data
                          </div>
                        </div>
                        <div class="progress">
                          <div class="bar" style="background:#CCC; width:100%">
                          	No Data
                          </div>
                        </div>
                        <table>
                            <tr>
                            	<td align="center">{{ server_status_connection_issue }}</td>
                            </tr>
                        </table>
                    {% else %}
                    	<div class="progress progress-{{ server.hdd_usage_color }} progress-striped active">
                          <div class="bar" style="width:{{ server.hdd_usage }}%">
                            {{ label_hard_drive_usage }}: {{ server.hdd_usage }}%
                          </div>
                        </div>
                        <div class="progress progress-{{ server.memory_usage_color }} progress-striped active">
                          <div class="bar" style="width:{{ server.memory_usage }}%">
                            {{ label_memory_usage }}: {{ server.memory_usage }}%
                          </div>
                        </div>
                        <table>
                            <tr>
                                <td align="left">{{ label_cpu_usage }}: {{ server.cpu_load }}</td>
                                <td align="right">{{ label_server_uptime }} {{ server.uptime }}</td>
                            </tr>
                        </table>
                    {% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
        
        <h4>Website & Service Status</h4>
        <div class="entity-container">
			{% for server in servers_a_offline %}
			<div class="offline">
				<div class="entity {{ server.class_warning }}" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
					<p>{{ label_last_online }}: {{ server.last_online_nice }}</p>
					<p>{{ label_last_check }}: {{ server.last_checked_nice }}</p>
				</div>
			</div>
			{% endfor %}
			{% for server in servers_a_online %}
			<div class="online">
				<div class="entity" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
					<p>{{ label_last_online }}: {{ server.last_online_nice }}</p>
					<p>{{ label_rtime }}: {{ server.rtime }}s</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="list-layout" class="tab-pane {{ list_layout_active }}">
		<div class="entity-container">
			<h4>Server Uptime Monitor</h4>
			<table class="table table-bordered">
				<tbody>
					<tr style="background:#333; color:#aaa;">
						<td>Server Name</td>
						<td>Last Online</td>
						<td class="center">Uptime</td>
						<td class="center">Load</td>
						<td class="center">HDD</td>
						<td class="center">RAM</td>
					</tr>
					{% for server in servers_b_offline %}
						<tr class="row-offline" onclick="window.location.href='{{ server.url_view|raw }}'">
							<td class="{{ server.class_warning }}" width="30%"><div class="server-name">{{ server.label }}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_online }}: &nbsp;</div><div class="table-cell-details">{{ server.last_online_nice }}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_check }}: &nbsp;</div><div class="table-cell-details">{{ server.last_checked_nice }}</div></div>
									</div>
								</div>
							</td>
							<td class="{{ server.class_warning }} hidden-phone">{{ label_last_online }}: {{ server.last_online_nice }}, {{ label_last_check }}: {{ server.last_checked_nice }}</td>
							<td class="{{ server.class_warning }} hidden-phone center">Offline</td>
							<td class="{{ server.class_warning }} hidden-phone center">0.00</td>
							<td class="{{ server.class_warning }} hidden-phone center">
								<div class="progress progress-danger active">
								  <div class="bar" style="width:100%">
									~{{ alert_type_offline }}~
								  </div>
								</div>
							</td>
							<td class="{{ server.class_warning }} hidden-phone center">
								<div class="progress progress-danger active">
								  <div class="bar" style="width:100%">
									~{{ alert_type_offline }}~
								  </div>
								</div>
							</td>
						</tr>
					{% endfor %}
					{% for server in servers_b_online %}
						<tr class="row-online" onclick="window.location.href='{{ server.url_view|raw }}'">
							<td width="30%"><div class="server-name">{{ server.label }}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_online }}: &nbsp;</div><div class="table-cell-details">{{ server.last_online_nice }}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{{ label_rtime }}: &nbsp;</div><div class="table-cell-details">{{ server.rtime }}</div></div>
									</div>
								</div>
							</td>
							<td class="{{ server.class_warning }} hidden-phone">{{ label_last_online }}: {{ server.last_online_nice }}</td>
							{% if server.bad_connection %}
								<td class="{{ server.class_warning }} hidden-phone" colspan="4">{{ server_status_connection_issue }}</td>
							{% else %}
								<td class="{{ server.class_warning }} hidden-phone center">{{ server.uptime }}</td>
								<td class="{{ server.class_warning }} hidden-phone center">{{ server.cpu_load }}</td>
								<td class="{{ server.class_warning }} hidden-phone center">
									<div class="progress progress-{{ server.hdd_usage_color }} progress-striped active">
									  <div class="bar" style="width:{{ server.hdd_usage }}%">
										{{ server.hdd_usage }}%
									  </div>
									</div>
								</td>
								<td class="{{ server.class_warning }} hidden-phone center">
									<div class="progress progress-{{ server.memory_usage_color }} progress-striped active">
									  <div class="bar" style="width:{{ server.memory_usage }}%">
										{{ server.memory_usage }}%
									  </div>
									</div>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			<h4>Website & Service Status</h4>
			<table class="table table-bordered">
				<tbody>
					{% for server in servers_a_offline %}
						<tr class="row-offline" onclick="window.location.href='{{ server.url_view|raw }}'">
							<td class="{{ server.class_warning }}" width="30%"><div class="server-name">{{ server.label }}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_online }}: &nbsp;</div><div class="table-cell-details">{{ server.last_online_nice }}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_check }}: &nbsp;</div><div class="table-cell-details">{{ server.last_checked_nice }}</div></div>
									</div>
								</div>
							</td>
							<td class="{{ server.class_warning }} hidden-phone">{{ label_last_online }}: {{ server.last_online_nice }}</td>
							<td class="{{ server.class_warning }} hidden-phone">{{ label_last_check }}: {{ server.last_checked_nice }}</td>
						</tr>
					{% endfor %}
					{% for server in servers_a_online %}
						<tr class="row-online" onclick="window.location.href='{{ server.url_view|raw }}'">
							<td width="30%"><div class="server-name">{{ server.label }}</div>
								<div class="visible-phone">
									<div class="table-body">
										<div class="table-row"><div class="table-cell-details tight">{{ label_last_online }}: &nbsp;</div><div class="table-cell-details">{{ server.last_online_nice }}</div></div>
										<div class="table-row"><div class="table-cell-details tight">{{ label_rtime }}: &nbsp;</div><div class="table-cell-details">{{ server.rtime }}</div></div>
									</div>
								</div>
							</td>
							<td class="hidden-phone">{{ label_last_online }}: {{ server.last_online_nice }}</td>
							<td class="hidden-phone">{{ label_rtime }}: {{ server.rtime }}s</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			
		</div>
	</div>
</div>

{% if auto_refresh %}
<script>
setInterval(function(){
	$.ajax({
		url:"?",
		success: function(html, status){
			$("#page-container").html(html);
		}
	});
}, {{ auto_refresh_seconds }} * 1000);
</script>
{% endif %}